{% extends "main.html" %}
{% block content %}
<div class="row recipe justify-content-around">
    <div class="col-md-8">
        <h1 class="mt-4">About Cookbook</h1>
        <span class="text-muted">This is a community website where you can share your favourite recipes and enjoy the ones shared by our members.</span>
        <div class="region mt-4">
                <h2>Viewing recipes</h2>
                <p>The totality of our recipes are accessible to all members, you don't need an account for that</p>
        </div>
        <div class="region mt-4">
                <h2>Posting recipes</h2>
                <p>You can share an unlimited number of recipes, you only need to create an account by going to 'register' and then you start posting straight away</p>
        </div>
        <div class="region mt-4">
                <h2>My account</h2>
                <p>here you can view all the recipes that you shared, you can edit them, or delete them</p>
        </div>
{% endblock content %}