{% extends "main.html" %}
{% block content %}
<form class="mt-4" method="POST" action="" novalidate>
    <!-- this is to protect against cross site request forgery attacks -->
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form.searchString.label(class="form-control-label") }}
                {% if form.searchString.errors %}
                {{ form.searchString(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.searchString.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.searchString(class="form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form.searchField.label(class="form-control-label") }}
                {% if form.searchField.errors %}
                {{ form.searchField(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.searchField.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.searchField(class="form-control") }}
                {% endif %}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group ">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </div>
    </div>



</form>

<div class="row mt-4">
    {% for recipe in recipes.items %}
    <div class="col-4 p-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ recipe.picture | default('https://dummyimage.com/300') }}" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description[:60] }}</p>
                <p>...</p>
                <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="btn btn-primary">View</a>
            </div>
        </div>
        {% if loop.index %3 == 0%}
    </div>
</div>
<div class="row">
    {% else %}
</div>
{% endif %}
{% endfor %}
</div>


<div class="mt-4">
    {% for page_nbr in recipes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
    {% if page_nbr %}
    {% if recipes.page == page_nbr %}
    <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_nbr) }}">{{ page_nbr }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_nbr) }}">{{ page_nbr }}</a>
    {% endif %}
    {% else %}
    ..
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}