{% extends "main.html" %}
{% block content %}
    {% for recipe in recipes.items %}
        <div class="media m-4">
            <img src="{{ recipe.picture | default('https://dummyimage.com/300') }}" class="mr-3" alt="..." height="200">
            <div class="media-body">
              <h5 class="mt-0">{{ recipe.title }}</h5>
              {{ recipe.description }}
            </div>
            <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="btn btn-outline-secondary m-4">Details</a>
        </div>      
{% endfor %}
    <div class="mt-4">
        {% for page_nbr in recipes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if page_nbr %}
          {% if recipes.page == page_nbr %}
            <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_nbr) }}">{{ page_nbr }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_nbr) }}">{{ page_nbr }}</a>
          {% endif %}
        {% else %}
          ..
        {% endif %}
      {% endfor %}
    </div>
{% endblock content %}