body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: rgb(233, 233, 233);
}

.navbar {
    background-color: #df8d41;   
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 6rem;   
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;                
    color: white;  
    background-color: #df8d41;    
  }

/* .card img {
    width:100%;
    max-width:600px;
} */

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.recipe .region {
    border-radius: 25px;
    background: white;
    padding: 20px; 
}

.recipe h1 {
    font-size: 2rem
}

.recipe h2 {
    font-size: 1.5rem
}